$mainFontFamily : 'Roboto', sans-serif;

$mainBgColor : #0057ba;
$secondBgColor : #253481;
$thirdBgColor : white;

$bgAllColor : #f8c410 ;
$bgKindColor : #0c1e7c ;
$bgBadColor : #d0171f ;

$textColorBody : white; 
$textColorTitle : #caa419 ;
$textColorData : #d0171f; /*black*/;

$underline-color : #d0171f ;
